<center>
<h1>AUDITION FORM</h1>
<%= form_tag audition_form_path, :method => :post, :class => "audition-form" do %>
    <%= text_field_tag :name, nil, placeholder: "NAME" %><br>
    <%= text_field_tag :year, nil, placeholder: "YEAR" %><br>
    <%= text_field_tag :gender, nil, placeholder: "GENDER" %><br>
    <%= text_field_tag :email, nil, placeholder: "EMAIL" %><br>
    <%= text_field_tag :phone, nil, placeholder: "PHONE #" %><br>
    <%= submit_tag "SUBMIT" %>
<% end %>
</center>