<body id="audition-form-body">
<%= form_for :dancer, :url => audition_form_path, :html => {:class => "audition-form"} do |f| %>
    <h2>AFX AUDITIONS</h2>
    <% if @dancer.errors.any? %>
        <% @dancer.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    <% end %>

    <!--TODO: make gender and year dropdown list-->

    <%= f.text_field :name, placeholder: "NAME" %><br>
    <%= f.text_field :email, placeholder: "EMAIL" %><br>
    <%= f.text_field :phone, placeholder: "PHONE" %><br>
    <%= f.select :gender, options_for_select(['Male', 'Female']), prompt: "GENDER" %><br>
    <%= f.select :year, options_for_select(['1', '2', '3', '4', 'Other']), prompt: "YEAR" %><br>
    <%= f.submit "I'm ready to audition!" %>
<% end %>
</body>